@font-face {
  font-family: "BackToSchool";
  src: url("asset/Happy\ School.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #6781bb;
  justify-content: center;
  justify-items: center;
}

.card {
  width: 500px;
  border-radius: 20px;
  justify-items: center;
}

.gambar {
background-color: #31487a;
justify-items: center;
width:100%;
height: 450px;
border-radius: 15px;
transition:  0.2s ease-in-out;
box-shadow: 0px 2px 9px 2px rgb(34, 34, 34);
}

.gambar:hover {
    transform: scale(1.05);
}
 
.baca {
  color: #fff6e4;
  font-family: "BackToSchool";
  font-weight: 400;
  text-align: center;
  justify-self: center;
  position: absolute;
  top: 70%;
  line-height: 155%;
  font-size: 30px;
  animation: muncul 1s forwards;
}

img {
  width: 320px;
  margin-top: 75px;
   height: 350px;
  object-fit: cover;
  object-position: top;
}

.icon {
    justify-self: left;
    margin-top: -70px;
    margin-left: 0px;
}

.icon img {
    width: 40px;
    height: 40px;
    transition:  0.2s ease-in-out;
}

.icon img:hover {
    transform: scale(1.5);
}

.nibras {
  justify-self:flex-end;
  font-size: smaller;
  margin-top: 420px;
  margin-right: 1px;
   color: #fff6e4;
  font-family: "BackToSchool";
}



@keyframes muncul {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
