div {
    width: 100px; height: 100px; 
    background-color: brown;
}

.box:hover {
transform: rotate(45deg);
}

.scale:hover {
transform: scale(1.3);
}

.translate:hover {
transform: translateX(50px);
}

.skew:hover {
transform: skewX(20deg);
}

.card:hover {
transform: rotate(10deg) scale(1.1) translateY(-10px);
}

