.card {
    display: flex;
    place-items: center;
    margin: 50px;
}


.isi h1 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.isi p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.icon img{
    width: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 10px;
}

.icon {
    margin-left: -10px;
}

button {
    background-color: rgb(0, 140, 255); color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}

.gambar {
    margin-left: 250px;
}

.gambar img {
    width: 400px;
}