* {
  padding: 0;
  margin: 0;
}

header {
  background-color: white;
  position: sticky;
  justify-self: center;
  padding: 30px 67px;
  height: 50px;
  font-size: larger;
  top: 0;
  box-shadow: 1px 0px 1px gray;
}
img {
  width: 150px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  color: #1c1e53;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 200px;
  padding-right: 300px;
}

nav ul li a {
  margin: 0 20px;
  font-size: smaller;
}

nav a {
  text-decoration: none;
  color: #1c1e53;
}
nav a:hover {
  text-decoration: none;
  color: #5e3bee;
  transition: 0.5s;
}

.tomcont {
  width: 120px;
  height: 50px;
  color: #5e3bee;
  background-color: white;
  border: 1px solid #5e3bee;
  border-radius: 5px;
}
.tomcont:hover {
  width: 120px;
  height: 50px;
  color: white;
  background-color: #5e3bee;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.5s;
}



.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5fcff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.div1 {
  padding-top: 150px;
  font-family: poppins;
  padding-left: 70px;
  padding-right: 70px;
}

.jon {
  font-weight: bold;
  color: #282938;
}

.div1 h1 {
  font-size: 50px;
  line-height: 1.3;
  margin-top: 20px;
  color: #282938;
}

span {
  color: #5e3bee;
}

.jon2 {
  margin-top: 10px;
  color: #1c1e53;
}

.butget {
  width: 120px;
  height: 50px;
  color: white;
  background-color: #5e3bee;
  border: 0px;
  border-radius: 5px;
  margin-top: 25px;
}
.butget:hover {
  width: 120px;
  height: 50px;
  color: #5e3bee;
  background-color: #f5fcff;
  border: 1px solid #5e3bee;  
  border-radius: 5px;
  margin-top: 25px;
  transition: 0.5s;
}

.orang img {
  width: 500px;
  justify-content: center;
  margin-top: 25px;
  margin-right: 25px;
}

.div2 {
  padding-top: 150px;
  font-family: poppins;
  padding-left: 70px;
  padding-right: 70px;
  color: #282938;
}

.div2 h1 {
  font-size: 40px;
  line-height: 1;
  margin-top: 20px;
}

.div2 p {
  font-weight: bold;
}

.conskill {
  display: flex;
  margin-bottom: 100px;
}
.conskill :hover{
  border-bottom: 3px solid #5E3BEE;
  transition: 0.5 ;
}

.card {
  background-color: #f5fcff;
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
  margin-right: 25px;
}



.card h1{
  font-size: 20px;
  color: #282938; 
  pointer-events: none;
}

.card p {
  font-weight: lighter;
  margin-top: 20px;
  font-size: 14px;
  pointer-events: none;
}

.card img {
  width: 115px;
  pointer-events: none;
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5fcff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about   {
  font-family: poppins;
}

.about img {
  float: left;
  width: 300px;
}

.aboutp {
  font-weight: bold;
  color: #282938;
}

.about h1{
    color: #282938;

}

