body {
background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
color: white;
font-family: ;
}

.res {
    justify-items: center;
   margin-top: 200px;

}

.isi {
     display: flex;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
    border: 4px solid white;
    box-shadow: 0px 1px 9px 1px white;
}

.nama {
    margin-top: -10px;
}
p{
    margin-top: -20px;
}

.button {
    display: flex;
    margin-top: -30px;
    margin-left: 60px;
}

.cv button{
border-radius: 20px;
border: none;
width: 100px;
height: 25px;
color: black;
}

.hire button{
    border-radius: 20px;
border: none;
width: 65px;
height: 25px;
color: white;
background-color: rgb(7, 158, 95);
margin-left: 5px;
}
