body {
    font-family: poppins;
   justify-items: center;
}


.card-profile {
    background-color: white;
    width: 240px;
    height: 375px;
    box-shadow: 0px 2px 2px 2px grey;
    justify-items: center;
    border-radius: 30px;
    margin-top: 100px;
}

.foto {
  
}

img {
    width: 230px;
    height: 220px;
    object-fit: cover;
    border-radius: 30px;
    padding-top: 5px;
}

.isi {
    margin-left: 12px;
    margin-top: -11px;
}

.isi h1 {
    
    font-size: 20px;
    font-weight:500;
}

.perkerjaan {
    font-size: 13px;
    margin-top: -15px;
    color: green;
}

.paragraf {
    font-size: 13px;
    color: grey;
}

.card-profile:hover {
transform: scale(1.3);
transition: 0.3s ease-in;
}
